/* Grid toggle */
#gridBG {
  position: absolute;
  top: 0;
  left: 50%;
  background: transparent url(../img/bg-grid.png) 0 0 repeat !important;
  z-index: 9;
  margin: 0 auto;
  margin-left: -50%;
  margin-right: -50%;
}

#gridBG.fluid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  /*background: transparent url(../img/bg-grid.png) 0 0 repeat !important;*/
  z-index: 9;
}

#gridToggle {
  display: block;
  width: 70px;
  padding: 5px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 99 !important;
  cursor: pointer;
  background: #000;
  color: #ff0;
  font-weight: bold;
  text-align: center;
  opacity: 0.8;
}
#gridToggle:hover {
  color: #fff;
  opacity: 1;
}

#layoutInfo {
  display: block;
  width: 100%;
  position: fixed;
  top: 80px;
  left: 50%;
  z-index: 99 !important;
  background: #000;
  color: #ff0;
  opacity: 1;
  text-align: right;
  font-weight: bold;
  opacity: 0.8;
}

#layoutInfo p {
  padding: 10px;
}

.gridBase {
  display: block;
  float: left;
  background: transparent;
}

.gridCol {
  background: #ff0;
  opacity: 0.5;
}
