body {
  width: 100%;
}

/**
 * 80 pixels for each, with 10 pixel gutter
 */
.grid-1, .grid-2, .grid-3, .grid-4,
.grid-5, .grid-6, .grid-7, .grid-8,
.grid-9, .grid-10, .grid-11, grid-12,
.grid-13, .grid-14, .grid-15, grid-16,
.exhibit, .supplement {
  position: relative;
  float: left;
  display: inline;
  /*overflow: hidden;*/
}
.grid-1 { width: 80px; }
.grid-2 { width: 160px; }
.grid-3 { width: 240px; }
.grid-4 { width: 320px; }
.grid-5 { width: 400px; }
.grid-6 { width: 480px; }
.grid-7 { width: 560px; }
.grid-8 { width: 640px; }
.grid-9 { width: 720px; }
.grid-10 { width: 800px; }
.grid-11 { width: 880px; }
.grid-12 { width: 960px; }
.grid-13 { width: 1040px; }
.grid-14 { width: 1120px; }
.grid-15 { width: 1200px; }
.grid-16 { width: 1280px; }


/* Drupal region */
.region {
  padding-top: 10px;
  padding-bottom: 10px;
}
.region .region {
  padding: 0;
}

#page, .limiter {
  display: block !important;
  float: none !important;
  /*margin: 0 auto !important;*/
}

#section-wrapper,
#sidebar-first {
  float: left;
}

#main-content,
#sidebar-second {
  float: right;
}


/**
 * Admin related
 */
/* block region title */
.block-region {
  font-weight: bold;
  background: #ccc;
  color: #000;
  padding: 4px 8px;
}

.page-admin-structure-block-demo .title-rigion {
  display: none;
  padding: 0;
  margin: 0;
}

/* test 16 col 6.25% for each */
/*
#main-content {

  width: 50%;
  float: left;
}
#sidebar-first {
  width: 25%;
}
#sidebar-second {
  width: 25%;
}*/