#section-wrapper,
#sidebar-first {
  float: left;
}

#main-content,
#sidebar-second {
  float: right;
}


#sidebar-first-outer,
#sidebar-second-inner {
  float: left;
}

#sidebar-first-inner,
#sidebar-second-outer {
  float: right;
}

#main-content {
  /*width: 100%;*/
}

/* Drupal region */
.region {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}
.region .region {
  padding: 0;
}

/* temp */
#main-content {}
/*.limiter {background:#eee;}*/
