/* always force a scrollbar in non-IE */
html {
  overflow-y: scroll;
}

body {
  background: #fff;
  color: #000;
}

thead th,
td {
  text-align: left; /* LTR */
  padding: 3px 10px;
  border: 1px solid #fff;
}

thead th {
  background: #555;
  color: #fff;
}

/* Drupal elements */
tr.even td {
  background: #eee;
}

.indent, .indented {
  margin-left: 20px; /* LTR */
}

ul.links li {
  margin-right: 0.5em; /* LTR */
}

.node, .comment, .block {
  margin-bottom: 20px;
}

/* hand cursor on clickable input elements */
input[type=button], input[type=submit], button { 
  cursor: pointer;
  margin-right: 0.5em; /* LTR */
  margin-top: 20px;
  background: #555;
  color: #fff;
  padding: 0.25em 0.75em;
}

img, object {
  max-width: 100%;
}